<div>
  <div class="row">
    <div class="col-auto">
      <h2 [translate]="'Settings.Lists.OneRosterSyncAction.Description'"></h2>
      <p [translate]="'Settings.Lists.OneRosterSyncAction.LongDescription'"></p>
    </div>
  </div>
  <div>
    <div class="col-12">
      <universis-one-roster-action-monitor></universis-one-roster-action-monitor>
    </div>  
  </div>
  <div class="col-12" [ngVar]="{}" #filter="ngVar">
    <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true"
      [showMore]="false" [table]="table">
    </app-advanced-table-search>
  </div>
  <div class="col-12">
    <app-table-simple-header [table]="table">
      <table-simple-header-tools>
        <button class="text-success btn btn-lg btn-default text-decoration-none" (click)="refresh()">
          <span [translate]="'OneRoster.Refresh'"></span>
        </button>
        <button class="text-indigo btn btn-lg btn-default text-decoration-none" (click)="addSyncAction()">
          <span>+</span>&nbsp;<span [translate]="'OneRoster.Run'"></span>
        </button>
      </table-simple-header-tools>
    </app-table-simple-header>
    <app-advanced-table #table [configSrc]="'assets/tables/OneRosterSyncActions/config.list.json'" [autoLoad]="true">
    </app-advanced-table>
  </div>

</div>