<ng-container *ngIf="results != null && results.length > 0">
  <ng-container *ngFor="let result of results">
    <div class="card">
      <div class="card-body d-flex">
        <div>
          <h5 class="card-title">{{result.classCode}} {{result.classTitle}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{result.schoolName}}</h6>
          <div class="d-none">
            <span class="text-secondary" [translate]="'OneRoster.OriginalGradingScheme'"></span>:
            <span>{{result.lineItem.metadata.gradingScheme.name}}</span>
          </div>
          <div *ngIf="result.scoreText">
            <span class="text-secondary" [translate]="'OneRoster.OriginalScore'"></span>:
            <span>{{result.scoreText}}</span>
          </div>
          <div class="text-theme font-weight-bold" *ngIf="result.altScoreText">
            <span [translate]="'OneRoster.AlternateScore'"></span>:
            <span>{{result.altScoreText}}</span>
          </div>
          <div class="mt-2 d-none">
            <button class="btn btn-success">Accept</button>
          </div>
        </div>
        <div class="ml-auto text-center">
          <div class="font-3xl font-weight-bold" [ngClass]="{'text-success': result.passed}">
            <ng-container *ngIf="result.score != null">
              {{result.score / 100 | percent: '.0-2'}}
            </ng-container>
          </div>
          <div *ngIf="result.scoreDate" class="text-secondary">{{result.scoreDate | date: 'mediumDate'}}</div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="loading === false && results && results.length === 0">
  <div class="col-12 text-center">
    <div class="mt-5">
      <div class="icon-circle bg-gray-300 border-gray-100"></div>
    </div>
    <div class="text-center mt-2">
      <h4 class="font-3xl font-weight-normal text-dark" [translate]="'Tables.EmptyTableTitle'">There are no matching
        records.</h4>
    </div>
  </div>
</ng-container>