<div>
  <h3 class="h2 font-weight-normal">
    <span [translate]="'OneRoster.OneRosterSyncAction'"></span>
    <h5 class="font-weight-normal" [translate]="'Forms.NewItem'"></h5>
  </h3>
  <div class="row mt-4">
    <div class="col-lg-12" *ngIf="error">
      <div class="alert alert-danger" role="alert">
        {{error.message}}
      </div>
    </div>
    <div class="col-lg-12">
      <advanced-form-edit #form (dataChange)="change($event)" [formName]="'OneRosterSyncActions/execute'" [(data)]="model" ></advanced-form-edit>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <div>
        <span [translate]="'OneRoster.DepartmentList.Description'"></span>
      </div>
      <div class="mt-3" [ngVar]="{}" #filter="ngVar">
        <app-advanced-table-search #advancedSearch [showMore]="false" [(filter)]="filter.value" [collapsed]="true" [table]="table">
        </app-advanced-table-search>
      </div>
      
      <app-table-simple-header [table]="table">
        <table-simple-header-tools>
          <div class="btn-group" *ngIf="this.table && this.table.selectable">
            <button [disabled]="table.selected.length === 0" class="btn btn-outline-indigo btn-lg" type="button" (click)="submit()" [translate]="'OneRoster.Run'">
              Actions
            </button>
            <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <button [disabled]="table.selected.length === 0" class="dropdown-item" (click)="submit()" [translate]="'OneRoster.Run'"></button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'"></button>
              <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'"></button>
            </div>
          </div>
        </table-simple-header-tools>
      </app-table-simple-header>
      <app-advanced-table #table [selectable]="true" [configSrc]="'assets/tables/OneRosterSyncActions/config.selectDepartments.json'" [autoLoad]="true">
      </app-advanced-table>
    </div>
  </div>
</div>