<div class="alert alert-default border-secondary" role="alert" >
    <h4 class="alert-heading text-secondary font-weight-normal" [translate]="'OneRoster.Monitor'"></h4>
    <hr>
    <div *ngIf="events.length" class="mb-2" style="max-height: 192px; overflow-y: auto;">
        <div *ngFor="let event of events">
            <span>
                {{ event.date | date: 'mediumTime' }} {{ event.message }}
            </span>
        </div>
    </div>
    <div *ngIf="events.length === 0">
        <span class="text-secondary" [translate]="'OneRoster.NoActiveAction'"></span>
    </div>
</div>