<div class="row">
  <div class="col-12 tab-navbar tab-container">
    <ul class="nav d-flex">
      <li class=" tab-brand disabled">
        <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['..']">
          <i class="fa fa-chevron-left pr-1"></i><span [translate]="'OneRoster.OneRosterSyncActions'"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
 
<div *ngIf="model$ | async as item">
  <h3 class="h2 font-weight-normal">
    <span [translate]="'OneRoster.OneRosterSyncAction'"></span>
    <h5 class="text-muted font-weight-normal">
      <span>{{ 'OneRoster.ActionStatusTypes.' + item.actionStatus.alternateName | translate }}</span>
      <span>&nbsp;</span>
      <span>{{ item.dateCreated | date: 'medium' }}</span>
      <ng-container *ngIf="item.name && item.name.length">
        <div class="mt-3">
          <span>{{ item.name }}</span>
        </div>
      </ng-container>
    </h5>
  </h3>
  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body pb-3">
            <div class="form-group">
              <h5 class="text-muted font-weight-normal mb-0" [translate]="'OneRoster.AcademicYear'"></h5>
              <div>
                {{ item.academicYear.name }}
              </div>
            </div>
            <div class="form-group">
              <h5 class="text-muted font-weight-normal mb-0" [translate]="'OneRoster.AcademicPeriod'"></h5>
              <div>
                {{ item.academicPeriod.name }}
              </div>
            </div>
            <div class="form-group">
              <h5 class="text-muted font-weight-normal mb-0" [translate]="'OneRoster.CreatedAt'"></h5>
              <div>
                {{ item.dateCreated | date: 'medium' }}
              </div>
            </div>
            <div class="form-group">
              <h5 class="text-muted font-weight-normal mb-0" [translate]="'OneRoster.ModifiedAt'"></h5>
              <div>
                {{ item.dateModified | date: 'medium' }}
              </div>
            </div>
            <div class="form-group">
              <h5 class="text-muted font-weight-normal mb-0" [translate]="'OneRoster.CreatedBy'"></h5>
              <div>
                {{ item.createdBy.name }}
              </div>
            </div>
            <div class="form-group">
              <h5 class="text-muted font-weight-normal mb-0">
                <span [translate]="'OneRoster.Departments'"></span><span>&nbsp;({{item.departments.length}})</span>
              </h5>
              <div>
                <span *ngFor="let department of item.departments; let last = last">{{ department.name }}<span *ngIf="!last">,&nbsp;</span></span>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-theme" (click)="runAgain()" [translate]="'OneRoster.RunAgain'"></button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>