<div class="p-4">
  <img height="32" src="https://www.imsglobal.org/sites/default/files/lis/onerosterreg.png" alt="IMS Global OneRoster">
</div>
<ng-template #unsupportedTemplate>
  <div class="alert alert-secondary" role="alert" [translate]="'OneRoster.UnsupportedAlert'">
  </div>
</ng-template>

<ng-template #unknownProviderTemplate>
  <div class="alert alert-secondary" role="alert" [translate]="'OneRoster.MissingProviderAlert'">
  </div>
</ng-template>
<div *ngIf="unsupported===true">
  <ng-container *ngTemplateOutlet="unsupportedTemplate"></ng-container>
</div>

<div *ngIf="unsupported===false && unknownProvider === true">
  <ng-container *ngTemplateOutlet="unsupportedTemplate"></ng-container>
</div>

<ng-container *ngIf="serviceProviders">
  <ng-container *ngFor="let serviceProvider of serviceProviders">
    <ng-template #serviceProviderTemplate >
      <one-roster-service-incoming-results [serviceProvider]="serviceProvider" ></one-roster-service-incoming-results>
    </ng-template>
    <ng-container [ngTemplateOutlet]="serviceProviderTemplate"></ng-container>
  </ng-container>
</ng-container>

