<div class="card">
    <div class="card-body">
      <h4 class="card-title text-success">{{serviceProvider?.name}}</h4>
      <h5 class="card-subtitle mb-2 text-gray-200">{{serviceProvider?.url}}</h5>
      <ng-container *ngIf="results && results.length === 0">
        <div class="col-12 text-center">
          <div class="mt-4">
            <div class="icon-circle bg-secondary border-gray-100"></div>
          </div>
          <div class="mt-2">
            <h4 class="font-3xl text-dark" [translate]="'OneRoster.EmptyResults.Title'"></h4>
            <p class="font-lg text-dark" [translate]="'OneRoster.EmptyResults.Message'"></p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="d-flex text-secondary align-items-center mb-4" *ngIf="loading">
    <div class="fa-2x">
      <i class="fas fa-circle-notch fa-spin"></i>
    </div>
    <div class="pl-2">
      <span class="font-lg" [translate]="'OneRoster.LoadingMessage'"></span>
    </div>
  </div>
  <ng-container *ngIf="results != null && results.length > 0">
    <ng-container *ngFor="let result of results">
      <div class="card">
        <div class="card-body d-flex">
          <div>
            <h5 class="card-title">{{result.lineItem.class.course.courseCode}} {{result.lineItem.class.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{result.lineItem.class.school.name}}</h6>
            <ng-container *ngIf="result.lineItem.metadata && result.lineItem.metadata.gradingScheme">
              <div>
                <span class="text-secondary" [translate]="'OneRoster.OriginalGradingScheme'"></span>:
                <span>{{result.lineItem.metadata.gradingScheme.name}}</span>
              </div>
              <div>
                <span class="text-secondary" [translate]="'OneRoster.OriginalGradingSchemeBase'"></span>:
                <span>{{result.lineItem.metadata.gradingScheme.scaleBase | percent}}</span>
              </div>
              <div *ngIf="result.metadata && result.metadata.scoreText">
                <span class="text-secondary" [translate]="'OneRoster.OriginalScore'"></span>:
                <span>{{result.metadata.scoreText}}</span>
              </div>
              <div class="text-theme font-weight-bold" *ngIf="result.metadata && result.metadata.altScoreText">
                <span [translate]="'OneRoster.AlternateScore'"></span>:
                <span>{{result.metadata.altScoreText}}</span>
              </div>
            </ng-container>
            <div class="mt-2 d-none">
              <button class="btn btn-success">Accept</button>
            </div>
         </div>
         <div class="ml-auto text-center">
          <div class="font-3xl font-weight-bold" [ngClass]="{'text-success': result.metadata && result.metadata.passed}">
            <ng-container *ngIf="result.score != null">
              {{result.score / 100 | percent: '.0-2'}}
            </ng-container>
          </div>
          <div *ngIf="result.scoreDate" class="text-secondary">{{result.scoreDate | date: 'mediumDate'}}</div>
         </div>
        </div>
      </div>
    </ng-container>
    <div class="col-12">
      <div class="mt-4 mb-4">
        <button class="btn btn-theme" (click)="assign()" [translate]="'OneRoster.AssignGrades'"></button>
      </div>
    </div>
  </ng-container>
